<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    This is the home page
    <br>
    Welcome {{user.first_name}}
    <br>
    <a href="/my_profile">My Profile</a>
    <br>
    <a href="/all_courses">All Courses</a>
    <br>
    <a href="/my_courses">My Courses</a>
    <br>
    <a href="/logout">logout</a>
</body>
</html>